lang=en.UTF-8
passwd_file=/etc/shadow
real_os_type=Ubuntu Linux
passwd_cindex=2
real_os_version=14.04.4
ld_env=LD_LIBRARY_PATH
os_type=debian-linux
path=/bin:/usr/bin:/sbin:/usr/sbin:/usr/local/bin
find_pid_command=ps auwwwx | grep NAME | grep -v grep | awk '{ print $2 }'
passwd_uindex=0
theme=gray-theme
referers_none=0
passwd_pindex=1
md5pass=1
os_version=8.0
product=webmin
tempdelete_days=7
log=1
passwd_mindex=4
by_view=0
webprefix=
theme_download=
